stages:
  - test

test-install-script-amd64:
  stage: test
  image: docker:27
  services:
    - docker:27-dind
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - apk add --no-cache bash curl
    - docker run --privileged --rm tonistiigi/binfmt --install all
    - docker info
  script:
    - |
      set -euo pipefail
      echo "Testing OS=$OS ARCH=$ARCH"

      case "$ARCH" in
        amd64) PLATFORM="linux/amd64" ;;
        *) echo "Unknown ARCH for this job: $ARCH"; exit 1 ;;
      esac

      docker run --rm \
        --platform="${PLATFORM}" \
        -e DO_NOT_PROVISION=true \
        -v "$PWD":/scripts \
        -w /scripts \
        "$OS" /scripts/install-torizon-connector.sh
  parallel:
    matrix:
      - OS: "ubuntu:jammy"
        ARCH: "amd64"
      - OS: "ubuntu:noble"
        ARCH: "amd64"
      - OS: "debian:bookworm"
        ARCH: "amd64"
      - OS: "debian:trixie"
        ARCH: "amd64"

test-install-script-arm64:
  stage: test
  image: docker:27
  services:
    - docker:27-dind
  tags:
    - saas-linux-small-arm64
  variables:
    DOCKER_TLS_CERTDIR: "/certs"
  before_script:
    - apk add --no-cache bash curl
    - docker run --privileged --rm tonistiigi/binfmt --install all
    - docker info
  script:
    - |
      set -euo pipefail
      echo "Testing OS=$OS ARCH=$ARCH"

      case "$ARCH" in
        arm64) PLATFORM="linux/arm64" ;;
        *) echo "Unknown ARCH for this job: $ARCH"; exit 1 ;;
      esac

      docker run --rm \
        --platform="${PLATFORM}" \
        -e DO_NOT_PROVISION=true \
        -v "$PWD":/scripts \
        -w /scripts \
        "$OS" /scripts/install-torizon-connector.sh
  parallel:
    matrix:
      - OS: "ubuntu:jammy"
        ARCH: "arm64"
      - OS: "ubuntu:noble"
        ARCH: "arm64"
      - OS: "debian:bookworm"
        ARCH: "arm64"
      - OS: "debian:trixie"
        ARCH: "arm64"
